<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nz.co.seclib.dbroker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp">
        <activity android:name=".ui.login.PrivacyPolicy"></activity>
        <activity
            android:name=".ui.userinfo.UserInfoManagerActivity"
            android:label="User Information" />
        <activity
            android:name=".ui.sysinfo.SystemConfigActivity"
            android:label="System" />
        <activity
            android:name=".ui.stockinfo.TradeLogActivity"
            android:label="Trades"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.stockinfo.StockInfoActivity"
            android:label="Stock"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.stockinfo.StockChartNZXActivity"
            android:label="Chart"
            android:launchMode="singleInstance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.stockinfo.StockInfoActivity" />
        </activity>
        <activity
            android:name=".ui.stockinfo.SearchActivity"
            android:label="Search"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.stockinfo.SelectedStocksActivity"
            android:label="Selected"
            android:launchMode="singleInstance" />
    </application>

</manifest>